# https://gohugo.io/host-and-deploy/host-on-github-pages/
name: Build and deploy 
on:
  push:
    branches:
     - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x' 
      
      # Just for testing, remove later
      - name: Display Go version 
        run: go version
      
      # Clone the code that builds the webpages
      - name: Clone code repo 
        env: 
          TOKEN: ${{ secrets.CLONE_TOKEN }}
        run: |
          git clone https://xulinus:${TOKEN}@github.com/xulinus/mdblog.git \
            --branch main \
            --single-branch \
            --depth 1 \
            --quiet 
          pwd
          ls
      - name: Copy MD 
        run: |
          mkdir /mdblog/md 
          mkdur /mdblog/html
          cp md/* /mdblog/
      - name: Make HTML 
        run: go run /mdblog/main.go 
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: /mdblog/html/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
