# https://gohugo.io/host-and-deploy/host-on-github-pages/
name: Build and deploy 
on:
  push:
    branches:
     - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x' 
      
      # Just for testing, remove later
      - name: Display Go version 
        run: go version
      
      # Clone the code that builds the webpages
      - name: Clone code repo 
        env: 
          TOKEN: ${{ secrets.CLONE_TOKEN }}
        run: |
          git clone clone https://xulinus:${TOKEN}@github.com/xulinus/mdblog.git \
            --branch main \
            --single-branch \
            --depth 1 \
            --quiet 
          cd mdblog/
          ls

